.orderlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2%;
}
.admin__btns{
    display: flex;
    align-items: center;
    justify-content:center;
}
.admin__deleteBtn{
    color: #736BD1;
    background-color: #ffffff;
    margin-top: 8px;
    height: 34px;
    width: 34px;
    border-radius: 15px;
    border: 3px solid #C9C7E1;
   
    border: 3px solid #736BD1;
    margin-right: 5px;
    margin-left: 5px;

}
.admin__addBtn{
    margin-right: 5px;
    margin-left: 5px;
    color: #736BD1;
    font-family: Quicksand;
    background-color: #ffffff;
    margin-top: 8px;
    height: 30px;
    width: 16%;
    border-radius: 15px;
    border: 3px solid #C9C7E1;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    width: 150px;
    max-width: 100%;
    padding: 0 10px;
    border: 3px solid #736BD1;
}