.contenedorarriba__header {
  display: flex;
  max-height: 12vh;
  padding: 20px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #9790EA;
}

.topnav {
  display: flex;
  align-items: center;
  width: 60rem;
}
.topnav a:hover {
  background: #4F46B8;
}

.navitem {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

.contenedor__agregardocstitulo {
  text-align: center;
}

.h1__agregardoctitulo {
  color: #736BD1;
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
}

.p__agregardocsubtitulo {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.cardForm {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 1%;
  margin: 0 auto;
  flex-direction: column;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  color: #736BD1;
  font-weight: bold;
}
.cardForm__btn {
  margin-top: 2%;
  display: block;
  margin-left: 50%;
}
.cardForm__success {
  color: rgb(94, 218, 145);
}
.cardForm__loading {
  color: rgb(137, 168, 226);
}
.cardForm__error {
  color: rgb(235, 108, 108);
}
.cardForm__img {
  width: 100px;
  margin: 4px 10px 0 0;
}
.cardForm__images {
  display: flex;
}

.cardForm__input {
  color: #444444;
}

.field__label,
.cardForm__label {
  display: block;
  margin-top: 3%;
}
.field__label--checkbox,
.cardForm__label--checkbox {
  margin-top: 2px;
  margin-left: 10px;
}
.field__input,
.cardForm__input {
  display: block;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1%;
}

.adminview {
  border-radius: 10px;
  border: 2px solid #736BD1;
  color: #736BD1;
  font-family: Quicksand;
  width: 150px;
  padding-left: 5px;
  background: none;
  overflow: hidden;
  text-decoration: none;
}

h2 {
  block-size: auto;
}

.productForm__label {
  color: #736BD1;
  font-family: Quicksand;
  font-size: 16px;
  font-weight: bolder;
}

.card__login {
  border-radius: 15px;
  background-color: white;
  display: block;
  margin-left: 40%;
  margin-top: 10%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 300px;
  padding: 30px;
}

.productForm__input {
  color: #909090;
  font-family: Quicksand;
  margin-top: 10px;
  height: 30px;
  width: 16%;
  border-radius: 15px;
  border: 2px solid #C9C7E1;
  font-family: "Quicksand", sans-serif;
  width: 300px;
  max-width: 100%;
  padding: 0 10px;
  border: 1px solid #736BD1;
}

.authform__register {
  margin-left: 82%;
}

.authform__submit {
  color: #ffffff;
  font-family: Quicksand;
  background-color: #736BD1;
  margin-top: 10px;
  height: 30px;
  width: 16%;
  border-radius: 15px;
  border: 3px solid #C9C7E1;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  width: 300px;
  max-width: 100%;
  padding: 0 10px;
  border: 3px solid #736BD1;
}

.authform__login {
  margin-left: 82%;
}/*# sourceMappingURL=adminForm.css.map */