.contenedorarriba__header {
  display: flex;
  max-height: 12vh;
  padding: 20px 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #9790EA;
}

.topnav {
  display: flex;
  width: 70rem;
  margin-left: 37%;
}
.topnav a:hover {
  background: #4F46B8;
  border-radius: 15px;
}

.navitem {
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
}

.icon-cart {
  width: 4%;
  height: 4%;
}

.storeContainer {
  display: flex;
  flex-direction: row;
}

.filters {
  display: flex;
  -webkit-box-orient: vertical;
  width: 100%;
  font-family: Quicksand;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
}

.Prodcontainer {
  border-radius: 15px;
  font-family: Quicksand;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 96%;
  display: block;
  text-decoration: none;
  margin: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  white-space: inherit;
}

.Prodcontainer:hover {
  box-shadow: 0 0 2px 1px #736BD1;
  transform: translateY(-5px);
}

.cardForm__labeldes {
  color: #736BD1;
  font-family: Quicksand;
  font-weight: bolder;
  width: 30%;
}

.cardForm__inputfilter {
  color: #909090;
  font-family: Quicksand;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: 16%;
  border-radius: 15px;
  border: 2px solid #C9C7E1;
  font-family: "Quicksand", sans-serif;
}

select::-ms-expand {
  display: none;
}

select {
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

.linkbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #736BD1;
  font-family: Quicksand;
  font-weight: bolder;
  padding-left: 70%;
  padding-top: 1%;
}
.linkbar li {
  display: inline-block;
  width: 170px;
  color: #736BD1;
}
.linkbar li a {
  display: inline-block;
  text-decoration: none;
  margin-left: 5%;
  text-decoration: none;
  color: #736BD1;
}
.linkbar__link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: rgb(71, 14, 14);
  transition: width 0.3s;
}
.linkbar__link:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.listcontainer {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.listcontainer__title {
  color: #736BD1;
  font-family: Quicksand;
  font-size: 36px;
  font-style: normal;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 0em;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 2%;
}

.formcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cartBtn {
  margin: 10px;
}
.cartBtn span {
  color: #736BD1;
  font-family: Quicksand;
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.filtrar__por {
  color: #736BD1;
  font-family: Quicksand;
  font-weight: bold;
  white-space: nowrap;
  padding-left: 1%;
}

.cartBtn {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.formBtn {
  align-items: center;
  text-decoration: none;
  padding: 8px;
  font-size: 20px;
  color: #736BD1;
  border: 2px solid #736BD1;
  border-radius: 6px;
  font-size: 17px;
  font-family: "Quicksand", sans-serif;
  margin-top: 8px;
  margin-right: 0;
  width: 280px;
  text-align: center;
}

.formBtn:focus {
  outline: none;
}

.formBtn::after {
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 10px;
  height: 50px;
  left: 30px;
  top: 0;
  opacity: 0;
  filter: blur(30px);
  transform: translate(-100px) scaleX(-15deg);
}

.formBtn:hover {
  background: #736BD1;
  cursor: pointer;
  color: aliceblue;
  transform: scale(0.97);
}

.authButtons {
  padding: 0;
}

.authButtons__logout {
  align-items: center;
  margin: 2px;
  font-family: Quicksand;
  color: #736BD1;
  width: 150px;
  border-radius: 30px;
  border: 2px solid #736BD1;
  transition: 0.6s;
  background-color: #fff;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  padding-left: 5px;
}

.authButtons--sidemenu {
  display: none;
  visibility: hidden;
}

.authButtons__login {
  align-items: center;
  margin: 2px;
  font-family: Quicksand;
  color: #736BD1;
  width: 150px;
  height: 100%;
  border-radius: 30px;
  border: 2px solid #736BD1;
  transition: 0.6s;
  background-color: #fff;
  overflow: hidden;
  text-decoration: none;
  display: flex;
  padding-left: 5px;
  font-size: 80%;
  margin-top: 0%;
}

@media screen and (max-width: 700px) {
  .filters {
    flex-direction: column;
  }
  .cardForm__labeldes {
    align-items: flex-start;
  }
  .cardForm__inputfilter {
    width: 70%;
    align-items: center;
  }
  .authButtons--sidemenu {
    display: flex;
    visibility: visible;
  }
}
.login {
  background: url(../images/Iconoperfil.png) no-repeat 6px center;
  width: 50px;
  height: 50px;
  display: block;
}

.contenedor__footer {
  position: absolute;
  background-color: #9790EA;
  margin-top: auto;
  width: 100%;
  display: flex;
  font-family: Quicksand;
  font-size: 10%;
  align-items: center;
  -ms-flex-pack: distribute;
  text-decoration: none;
  margin-top: 50px;
}

.imagen__logo {
  padding-top: 1%;
  height: 6%;
  width: 13%;
  margin-left: 3%;
}

.footer__basico {
  color: #ffffff;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  padding-left: 8%;
}

.footer__basico ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.list-inline {
  display: flex;
}

.footer__basico li {
  padding: 0 10px;
}

.footer__basico ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer__basico ul a:hover {
  opacity: 1;
}

footer {
  display: flex;
  align-items: center;
}

._blank {
  font-family: Quicksand;
}/*# sourceMappingURL=cards.css.map */