.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

   
}

.flexbox-container > div {
    width: 100%;
    padding: 4%;
}

h4{
    font-family: Quicksand;
    color: #736BD1;
}

.descripcion__sobre{
    font-size: 18px;
   
}

.imagen__descripcion{
    width: 80%;
    height: auto;
}

.contenedor__abajosobre{
    background-color: #F6F9FE;  
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;  
}

.titulo__2{
    margin-left: 40%;
    padding-top: 3%;
}

.titulo__beneficios{
    margin-left: 43%;
    padding-top: 1%;
}

.imagen__personas{
    width: 34%;
    height: auto;
 
}



.nombre__titulo{
    text-align: center;
}
.beneficios__container{
display: flex;
flex-direction: column;
width: 300px;
margin: 0;
justify-content: center;
align-items: center;
}
.personas__container{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0;
    justify-content: center;
    align-items: center;
    }
.h4__descripcion{
    font-size: 15px;
 
    color: #383b3b;
    text-align: center;
}

.imagen__beneficio{
    width: 34%;
    height: auto;
   
}

.nombre__titulobene{
   text-align: center;
}

.titulo__3{
    
    padding-top: 2%;
}


