.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flexbox-container > div {
    width: 100%;
    padding: 4%;
}

.flexbox-container > div:first-child {
    margin-right: 50px;
}

h4{
    font-family: Quicksand;
    color: #736BD1;
}

.descripcion__sobre{
    font-size: 18px;
   
}

.imagen__descripcion{
    width: 90%;
    height: 93%;
}

.contenedor__abajosobre{
    background-color: #F6F9FE;    
}

.titulo__2{
    margin-left: 40%;
    padding-top: 3%;
}

.titulo__beneficios{
    margin-left: 43%;
    padding-top: 1%;
}

.imagen__diana{
    width: 34%;
    height: 62%;
    margin-left: 50%;
}

.nombre__titulo1{
    margin-left: 58%;
}

.titulo__diana{
    font-size: 15px;
    margin-left: 42%;
    color: #383b3b;
}

.imagen__laura{
    width: 34%;
    height: 62%;
    margin-left: 8%;
}


.nombre__titulo2{
    margin-left: 17%;
}

.titulo__laura{
    font-size: 15px;
    margin-left: 1%;
    color: #383b3b;
}

.imagen__beneficio1{
    width: 46%;
    height: 57%;
    margin-left: 48%;
}

.imagen__beneficio2{
    width: 46%;
    height: 57%;
    margin-left: 19%;
}

.imagen__beneficio3{
    width: 46%;
    height: 57%;
    margin-left: 3%;
}

.nombre__titulobene1{
    margin-left: 59%;
}

.nombre__titulobene2{
    margin-left: 33%;
}

.nombre__titulobene3{
    margin-left: 14%;
}

.imagen__javier{
    width: 34%;
    height: 62%;
    margin-left: 50%;
}

.nombre__titulojavier{
    margin-left: 56%;
}

.titulo__javier{
    font-size: 15px;
    margin-left: 38%;
    color: #383b3b;
}

.imagen__enrique{
    width: 34%;
    height: 62%;
    margin-left: 12%;
}

.nombre__tituloenrique{
    margin-left: 15%;
}

.titulo__enrique{
    font-size: 15px;
    color: #383b3b;
}

.titulo__3{
    margin-left: 40%;
    padding-top: 2%;
}


