@charset "UTF-8";

body {
 background-image: url("images/inicio.png");
 background-size: cover;
}

.contenedor {
  display: flex;
  padding-top: 20%;
  padding-left: 16%;
}

  .h1__titulo{
    color: white;
    font-size: 85px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin-bottom: 2rem;
    text-align: center;

}

.p__subtitulo{
    color: white;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background:#4f46b873;
    margin-bottom: 0.2rem;
    width: fit-content;
    text-align: center;
}


.p__header{
    color: #736BD1;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    margin-bottom: 6rem;
    margin-top: 23%;
}

  .boton_personalizado{
    text-decoration: none;
    padding: 8px; 
    font-size: 20px;
    color: #736BD1;
    background-color: #ffffff;
    border-radius: 6px;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 34%;
    position: absolute;
    margin-top: 6%;
    
  
   
  }
  .boton_personalizado:hover{
    color: #ffffff;
    background-color: #736BD1;
  }

  .boton_personalizado2{
    text-decoration: none;
    padding: 8px; 
    font-size: 20px;
    color: #736BD1;
    background-color: #ffffff;
    border-radius: 6px;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 47%;
    position: absolute;
    margin-top: 6%;
    
  
   
  }
  .boton_personalizado2:hover{
    color: #ffffff;
    background-color: #736BD1;
  }

  .contenedor__iniciarsesion{
    position: relative
    
  }

  .contenedor__elegir {
    background-color: #736BD1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .h1__porque {
    color: #474747;
    font-family: "perpetua";
    padding-top: 2%;
  }
  
  .contenedor__cuadros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .imagen__cuadro {
    border-radius: 22px;
  }
  
  .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    border-radius: 5%;
    margin: 2%;
  }
  
  .texto__fotos {
    text-align: center;
    color: #474747;
    font-family: "perpetua";
    border-radius: 0px 0px 22px 22px;
    margin-top: 2%;
  }
  
  @media (max-width: 768px) {
    .contenedor__elegir {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .contenedor__cuadros {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-left: 8%;
      padding-right: 8%;
    }
  }
  